<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    {%block title%}
    <title>{{ path }}</title>
    {%endblock%}
    <style type="text/css">
        li {
            list-style-type: none;
            margin-bottom: 0.7rem;
        }
        
    </style>
    
</head>
<body>
    <!-- Modal -->
    <div class="modal fade " id="modalPlayer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="callout">
                                    <h5 class="modal-title"></h5>
                                    <div class="responsive-embed widescreen">

                                        <video controls class=" img-fluid" id="video-player" src="">
                                            Your browser does not support the video element.
                                        </video>
                                    </div>
                                    <div class="d-flex justify-content-between" id="pagination">
                                        <a class="btn btn-secondary" href="#" target="_blank" id="prev">Предыдущее
                                            видео</a>
                                        <a class="btn btn-secondary ms-auto" href="#" target="_blank"
                                            id="next">Следующее видео</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>


            </div>
        </div>
    </div>

    <!-- Video playlist -->
    <div class="container">

       <div class="row py-3">
           <div class="col-12">
            <h2>{{ path }}</h2>
            <a href="." target="_blank">Открыть директорию в браузере</a>
            <p>Общее время: <span data-time="{{ total_duration }}">{{ total_duration }}</span></p>   
                <div class="properties">
                    <div class="row">
                        <div class="col-4">
                            <input class="form-check-input" type="checkbox" value="" id="checkAutoplay" checked>
                            <label class="form-check-label" for="checkAutoplay">
                                Включить автовоспроизведение
                            </label>
                        </div>
                        <div class="col-4">
                            <label for="customRange3" class="form-label">Скорость
                                воспроизведения <span id="playRateLabel"></span></label>
                                <input type="range" class="form-range" min="0.5" max="2" step="0.25" id="playRateInput"
                                value="1.5">
                        </div>
                        <div class="col-4">
                            <label for="customRange3" class="form-label">Громкость <span
                                id="volumeLabel"></span></label>
                                <input type="range" class="form-range" min="0" max="1" step="0.1" id="volumeInput"
                                value="1">
                        </div>
                    </div>


                </div>
            </div>
        </div>

            {%block content%}

            {%endblock%}
        </div>


        <div style="position: fixed; right: 30px; bottom: 20px; z-index: 1030;">
            <button class="btn btn-light" id="scrollToTop" type="button" style="display: none;">Туда!</button>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>    




<script>
"use strict";

const app = {
    domElements: {
        propertiesForm: document.querySelector(".properties"),
        autoplayCheckbox: document.querySelector("#checkAutoplay"),
        volumeInput: document.querySelector("#volumeInput"),
        playRateLabel: document.querySelector("#playRateLabel"),
        playRateInput: document.querySelector("#playRateInput"),
        playlist: document.querySelector("#playlist").querySelectorAll("a"),
        progressBars: playlist.querySelectorAll('.progress-bar'),
        timeArray: document.querySelectorAll("[data-time]"),
        scrollBtn: document.querySelector("#scrollToTop"),
        renderTime() {
            const speed = app.properties.data.speed;
            this.timeArray.forEach(elem => {
                const time = elem.dataset.time;
                let newTime = secondsToHms(changeTimeRate(hmsToSeconds(time),
                    speed));
                if (speed !== 1) {
                    newTime = time + " / " + newTime
                }
                elem.textContent = newTime;
            })
        },
        toScroll() {
            this.scrollBtn.blur();
            switch (this.scrollBtn.textContent) {
                case "Туда!":
                app.properties.scrollPosition = document.documentElement.scrollTop;
                document.documentElement.scrollTop = 0;
                this.scrollBtn.textContent = "Обратно!";
                break;
                case "Обратно!":
                document.documentElement.scrollTop = app.properties.scrollPosition;
                app.properties.scrollPosition = 0;
                this.scrollBtn.textContent = "Туда!";
            };
        },
        renderProgressBar() {
            this.progressBars[modal.video.data.id].style.width = `${modal.video.data.progress}%`;
        },
        renderProgressBarsAll() {
            this.playlist.forEach((item, id) => {
                const data = app.storage.loadData(item.href);
                if (isNotEmptyObject(data) && data.progress) {
                    app.domElements.progressBars[id].style.width = `${data.progress}%`
                }
            })
        },

        getId(href) {
            this.playlist.forEach((item, id) => {
                if (href == item.href) {
                    return id;
                }
            });
        },
        modal: {
            window: document.querySelector("#modalPlayer"),
            title: document.querySelector(".modal-title"),
            video: {
                data: {},
                player: document.querySelector("#video-player"),
                setTitle() {
                    this.data.title = app.domElements.playlist[this.data.id].dataset.bsFile;
                },
                setId(href) {
                    app.domElements.playlist.forEach((item, id) => {
                        if (href == item.href) {
                            this.data.id = id;
                        }
                    });
                },
                init(href) {
                    this.setId(href);
                    this.setTitle();
                    const data = app.storage.loadData(href);
                    if (isNotEmptyObject(data)) {
                        app.storage.setData(data, this.data)
                    } else {
                        this.data.progress = this.data.position = 0;
                    };

                },
                render() {
                    this.player.src = app.domElements.playlist[this.data.id].href;
                    this.player.volume = app.properties.data.volume;
                    this.player.playbackRate = app.properties.data.speed;
                    this.setPosition();
                    app.domElements.modal.title.textContent = this.data.title;
                    app.domElements.modal.navigate.render();

                },
                play() {
                    if (app.properties.data.autoplay) {
                        this.player.play();
                    }
                },
                pause() {
                    this.player.pause();
                },
                getPosition() {
                    this.data.position = this.player.currentTime;
                },
                setPosition() {
                    this.player.currentTime = this.data.position;
                },
                getProgress() {
                    if (modal.video.player.duration) {
                        this.data.progress = this.player.currentTime * 100 / this.player.duration;
                    }
                }
            },
            navigate: {
                buttons: [{
                    elem: document.querySelector("#prev"),
                    getId(id) {
                        return id > 0 ? id - 1 : id;
                    }
                },
                {
                    elem: document.querySelector("#next"),
                    getId(id) {
                        return id < app.domElements.playlist.length ? id + 1 : app.domElements
                        .playlist
                        .length
                    }
                }
                ],
                render() {
                    this.buttons.forEach(item => {
                        const id = app.domElements.modal.video.data.id;
                        const playlist = app.domElements.playlist

                        item.elem.href = playlist[item.getId(id)].href;
                        item.elem.dataset.bsFile = playlist[item.getId(id)].dataset
                        .bsFile

                        if (item.getId(id) == id) {
                            item.elem.style.display = 'none'
                        } else {
                            item.elem.style.display = ''
                        }

                    })
                }
            }



        },

    },
    properties: {
        data: {},
        scrollPosition: null,
        getProp() {
            this.data.autoplay = app.domElements.autoplayCheckbox.checked;
            this.data.volume = Number(app.domElements.volumeInput.value);
            this.data.speed = Number(app.domElements.playRateInput.value);
        },
        render() {
            app.domElements.autoplayCheckbox.checked = this.data.autoplay;
            app.domElements.volumeInput.value = this.data.volume;
            app.domElements.playRateLabel.textContent = app.domElements.playRateInput.value = this.data
            .speed;
        }

    },
    storage: {
        saveData(key, object) {
            const jsonData = JSON.stringify(object);
            window.localStorage.setItem(key, jsonData);
        },
        loadData(key) {
            const jsonData = window.localStorage.getItem(key);
            return JSON.parse(jsonData);
        },
        setData(data, object) {
            for (let key in data) {
                object[key] = data[key];
            }
        }

    }

}

//Aliases
const dom = app.domElements
const modal = app.domElements.modal
const properties = app.properties
const storage = app.storage

const defaultProperties = {
    autoplay: true,
    volume: 1,
    speed: 1
};



// Functions

function isNotEmptyObject(object) {
    for (let key in object) {
        return true;
    }
    return false;
}

function setScrollBtnDisplay() {
    const scrollHeight = document.documentElement.scrollTop;
    const clientHeight = document.documentElement.clientHeight;
    if (scrollHeight > clientHeight / 2) {
        dom.scrollBtn.style.display = "inline-block";
    } else {
        if (properties.scrollPosition === null) {
            dom.scrollBtn.style.display = "none";
            properties.scrollPosition = 0;
        }
    }
}

function loadPlayer(href) {
    modal.video.init(href);
    modal.video.render();
}

// Time utilites
function changeTimeRate(seconds, rate) {
    return Math.floor(seconds / rate);
}

function hmsToSeconds(time) {
    const hours = +time.slice(0, 2);
    const seconds = +time.slice(6, 8);
    const minutes = +time.slice(3, 5);
    return (hours * 3600) + (minutes * 60) + seconds;
}

function secondsToHms(time) {
    let hours = format2digit(Math.trunc(time / 3600));
    let minutes = format2digit(Math.trunc(time % 3600 / 60));
    let seconds = format2digit(time % 60);
    return `${hours}:${minutes}:${seconds}`;
}

function format2digit(number) {
    let result = number;
    if (number.toString().length < 2) {
        result = `0${number}`;
    }
    return result;
}

//Events
document.addEventListener('DOMContentLoaded', (e) => {
    const data = storage.loadData('properties');
    if (isNotEmptyObject(data)) {
        storage.setData(data, properties.data);
    } else {
//set default properties
properties.data = defaultProperties;
storage.saveData('properties', properties.data);
}
properties.render();
dom.renderTime();
dom.renderProgressBarsAll();

})

document.addEventListener("scroll", setScrollBtnDisplay);

dom.scrollBtn.addEventListener('click', (e) => {
    dom.toScroll();
})

modal.window.addEventListener("hide.bs.modal", (e) => {
    modal.video.pause();
})

modal.window.addEventListener("show.bs.modal", (e) => {
    loadPlayer(e.relatedTarget.href);
})

modal.navigate.buttons.forEach(btn => {
    btn.elem.addEventListener('click', (e) => {
        e.preventDefault();
        loadPlayer(e.target.href);
    })
})


dom.propertiesForm.addEventListener('input', (e) => {
    properties.getProp();
    storage.saveData('properties', properties.data);
    properties.render();

    if (e.target.id == 'playRateInput') {
        dom.renderTime();
    }

})

modal.video.player.addEventListener('loadedmetadata', (e) => {
    modal.video.play();

})

modal.video.player.addEventListener('timeupdate', (e) => {
    modal.video.getPosition();
    modal.video.getProgress();
    dom.renderProgressBar(e.target.herf);
    storage.saveData(modal.video.player.src, modal.video.data);
})

modal.video.player.addEventListener('ended', (e) => {
    if (modal.video.id < dom.playlist.length && properties.autoplay) {
        modal.video.id++;
        modal.video.render();
    }
})
</script>


</body>
</html>