{%extends 'base.html'%}


{%block content%}
<div id="playlist">
    {% for root in video_files_dict %}
        <div class="row py-3">
            <div class="col-12">
                <h5> {{ os.path.basename(root) }} <span class="badge rounded-pill bg-light text-dark"> {{ hms(sum(video_files_dict[root]))}}</span></h5>
                <ul class="px-5">
                {% for file in video_files_dict[root] %}

                    <li>
                    <a class="link-secondary" target="_blank" href="{{file.relpath}}" data-bs-toggle="modal" data-bs-target="#ModalPlayer" data-bs-file="{{file.relpath}}">{{file.filename}} <span class="badge rounded-pill bg-light text-dark" data-time="{{hms(file.duration)}}">{{hms(file.duration)}}</span>
                    <div class="progress" style="height: 5px;">
                        <div class="progress-bar " role="progressbar"></div>
                    </div> 
                    </a>

                    </li>
                    
                
                {% endfor %}
                </ul>
            </div>
        </div>
 {% endfor %}
 </div>
{%endblock%}
