{%extends 'base.html'%}


{%block content%}
 <div class="row py-3">
     <div class="col-12">
        <h2>{{ path }}</h2>
        <p>Общее время: {{ total_duration }}</p>   
        <a href="." target="_blank">Открыть директорию в браузере</a> 
     </div>
 </div>



    {% for root in video_files_dict %}
        <div class="row py-3">
            <div class="col-12" id="playlist">
                <h5> {{ os.path.basename(root) }} <span class="badge rounded-pill bg-light text-dark"> {{ hms(sum(video_files_dict[root]))}}</span></h5>
                {% for file in video_files_dict[root] %}
                <div>
                    <a class="link-secondary px-5" target="_blank" href="{{file.relpath}}" data-bs-toggle="modal" data-bs-target="#ModalPlayer" data-bs-file="{{file.relpath}}">{{file.filename}} <span class="badge rounded-pill bg-light text-dark">{{hms(file.duration)}}</span> </a> 
                </div>
                {% endfor %}
            </div>
        </div>
 {% endfor %}
{%endblock%}
